@font-face {
    font-family: "HelveticaNeueCondensedBold";
    src: url("../../static/fonts/HelveticaNeueCondensedBold.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueBold";
    src: url("../../static/fonts/HelveticaNeueBold.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../../static/fonts/HelveticaNeueLight.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../../static/fonts/HelveticaNeueMedium.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../../static/fonts/HelveticaNeueLight.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../../static/fonts/HelveticaNeueLight.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../../static/fonts/HelveticaNeueLight.ttf") format("woff");
    font-display: swap;
}


body {
    margin: 0px;
}

.mainsec {
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    color: var(--primaryTextcolor);
}

.labeltxt {
    font-size: 17px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.ipbtn {
    height: 46px;
    border-radius: 6px;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
}

.customnav {
    background: transparent !important;
}

.customnav .ant-menu-item,
.customnav .ant-menu-submenu-title {
    color: black !important;
    font-family: sans-serif;
    font-size: 17px;
}

// .customnav .ant-menu-item:hover,
// .customnav .ant-menu-submenu-title:hover {
//     text-decoration: underline;
// }

.customnav .ant-menu-item a,
.customnav .ant-menu-submenu-title a {
    color: black !important;
    font-family: sans-serif;
    font-size: 17px;
}


@media (max-width: 768px) {
    .onlyDes {
        display: none !important;
    }

}



@media (min-width: 768px) {
    .onlyMob {
        display: none !important;
    }
}